body{
    font-family: 'Ubuntu', sans-serif;
    background-color: white;
    word-wrap: break-word;
}

p{
    font-size: 20px;
}

table td{
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    font-size: 20px;
}

a{
    color: #22A7F0;
    text-decoration: none;
}

h3{
    color: red;
}

select{
    padding: 5px;
    width: 100%;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid black;
    border-radius: 5px;
}

option{
    padding: 5px;
    border-radius: 5px;
}

button{
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
}